node_modules
.next
dist
coverage
playwright-report
playwright-results
.turbo
.git
.github
.env
.env.*
backend/tests
backend/src-ts
backend/coverage
backend/dist
dashboard/playwright-report
dashboard/playwright-results
dashboard/.next
backend/coverage
backend/dist
dashboard/coverage
dashboard/e2e
dashboard/test-results
mobile-app/dist
sdk/edge/dist
sdk/mobile/dist
