# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=ice_trackings

# JWT Secret
JWT_SECRET=your_jwt_secret_key_here_123456

# Server Configuration
PORT=5000

# API Configuration
API_BASE_URL=https://unpunished-andree-coeternally.ngrok-free.dev
